body, html {
    background-color: #f5f5f5;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*--- icon --- */
.cerro {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 86.6px solid #8B0000; /* (lado * sqrt(3)) / 2 */
  }