body {
  background-image: url('/assets/cerro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    width: 30vw;
}

body, html {
    background-color: #f5f5f5;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

/*--- icon --- */
.cerro {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 86.6px solid #ffffff; /* (lado * sqrt(3)) / 2 */
  }
  
  h1 {
    position: absolute; /* Para posicionar el h1 relativo al div .cerro */      
    left: 50%; /* Centrar horizontalmente */
    bottom: 2rem; /* Ajustar la distancia del h1 con respecto al div .cerro */
    transform: translateX(-50%); /* Centrar horizontalmente */
    color:#ffffff;
  }

  @media only screen and (max-width: 48em) {
    h1 {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      white-space: nowrap;
      left: 25%;
      color: #f00000;
      bottom: 1rem;
    }
    
  }